name: Run Login Script

on:
  workflow_dispatch: # 保留: 允许你手动运行
  schedule:
     - cron: "0 13 1 */2 *"

jobs:
  login:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout 仓库代码
        uses: actions/checkout@v3

      - name: 设置 Python 环境
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Create accounts.json from environment variable
        run: echo "$ACCOUNTS_JSON" > accounts.json
        env:
            ACCOUNTS_JSON: ${{ secrets.ACCOUNTS_JSON }}

      - name: 安装 Python 依赖
        run: |
          python -m pip install --upgrade pip
          pip install pyppeteer aiofiles requests pyppeteer-stealth
          pip install --upgrade pyppeteer

      - name: 运行登录脚本
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          ACCOUNTS_JSON: ${{ secrets.ACCOUNTS_JSON }}
        run: |
          python login_script.py

      - name: Upload error screenshots (上传错误截图)
        # 仅在脚本失败时 (sys.exit(1)) 才运行
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: error-screenshots
          path: ./*.png # 上传所有 .png 文件
          if-no-files-found: ignore # 如果没找到文件也不要报错
